version: '3.8'

services:
  frontend:
    build: ./frontend
    container_name: nextjs_frontend
    ports:
      - "5000:5000"
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:4000
      - NEXTAUTH_URL=http://frontend:5000
      - NEXTAUTH_SECRET=
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next

  backend:
    build: ./backend
    container_name: express_backend
    ports:
      - "4000:4000"
    environment:
      - DATABASE_URL=
      - JWT_SECRET=
      - JWT_REFRESH_SECRET=
      - PORT=4000
      - FRONTEND_URL=http://frontend:5000
    depends_on:
      - postgres
    volumes:
      - ./backend:/app
      - /app/node_modules
      - /app/dist

  postgres:
    image: postgres:15
    container_name: sql_postgres
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: 
      POSTGRES_PASSWORD:
      POSTGRES_DB: sql
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
